@import "mixin";
@import "normalize";
@import "vr";

@font-face {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Hind', sans-serif;
}

*{
  margin: 0;
}

img{
  display: block;
}

body{
  background: #f8f8f8;
}

.container{
  padding: 0 4.2%;
}

ul{
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

svg{
  stroke: white;
  stroke-width: 0;
}


/*                                          first-section                                      */

.first-section{
  background-image: url("../img/slider.png") ;
  background-size: cover;
  color:  $color-first;
  font-family: $font-family-first;

  &__nav{
    display: flex;
    justify-content: space-between;
    padding-top: 36px;

    &__logo{

      font-size: 25px;
      font-weight: 700;
      text-align: left;

      p{
        border-bottom: 1px solid transparent;
        padding-bottom: 2px;
        letter-spacing: 1px;

        &:hover{
          border-bottom: 1px solid white;
        }

        span{
          font-weight: 400;

        }

      }

    }

    &__list{
      display: flex;

      li{
        list-style: none;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        padding:  7px 11px;

        a{
          padding-bottom: 2px;
          border-bottom: 1px solid transparent;

          &:hover{
            border-bottom: 1px solid white;
          }

        }
        &:last-child{
          background: $color-third;
          border-radius: 5px;
        }

      }

      .menu__button {
        display: none;
        width: 60px;
        padding: 0;
        padding-bottom: 7px;
        border: none;
        background: transparent;
        font-size: 0;
        line-height: 0;
        cursor: pointer;
        text-align: center;
        outline: none;

        span {
          display: inline-block;
          background-color: #2998cc;
          height: 6px;
          width: 80%;
          font-size: 0;
          line-height: 0;
          border-radius: 9px;
          margin-top: 5px;
          text-align: center;

          &:first-child{
            margin-top: 0;
          }

        }
      }

    }

  }

  &__text{
    padding-top: 193px;
    padding-bottom: 214px;

    h2{
      font-size: 78.74px;
      font-weight: 700;
      text-align: center;
      transform: scaleX(1.0031);
      letter-spacing: 12px;
    }

    p{
      font-family:$font-family-second;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      transform: scaleX(1.0031);
      padding-top: 11px;
      letter-spacing: 4px;
    }

  }

}

/*                                            second-section                                          */


.second-section{
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 93px;

  &__text{
    text-align: left;

    h3{
      @include h3Text;
      padding-bottom: 54px;

      &:before{
        position: absolute;
        bottom: 25px;
        content: "";
        width: 81px;
        height: 1px;
        background: $color-second;
      }

    }

    p{
      @include pText;
      padding-bottom: 19px;
      max-width: 467px;

      &:nth-child(3){
        font-family:$font-family-first;
        color:  $color-third;
        font-size: 22px;
        font-weight: 700;
        line-height: 21px;
        padding-bottom: 31px;
      }

    }

    button{
      @include button;
    }

  }

}


/*                                              third-section                                  */


.third-section{
  background: url("../img/slider_bg.png");
  background-size: cover;
  text-align: center;
  padding: 88px 4.1%;

  h3{
    @include h3Text;
    padding-bottom: 50px;

    &:before{
      position: absolute;
      right: 47%;
      bottom: 22px;
      content: "";
      width: 80px;
      height: 1px;
      background: $color-second;
    }

  }

  p{
    @include pText;
    padding-bottom: 46px;
    max-width: 621px;
    margin: 0 auto;
  }

  &__slider{
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 53px;

    &__picture{
      position: relative;
      padding-right: 29px;

      .picture_hover{
        background: rgba(0, 161, 235, 0.5 );
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 57px;

        &:hover{

          p{
            padding-top: 33%;
          }

          button{
            display: inline-block;
          }

        }

        p{
          padding-top: 44%;
          color:  $color-first;
          font-size: 20px;
          font-weight: 700;
          padding-bottom: 8px;
          letter-spacing: 1px;
          transition: padding-top 0.5s;

          &:nth-child(2){
            padding-top: 0;
            font-size: 24px;
            font-weight: 400;
            padding-bottom: 11px;
          }

        }

        button{
          background: $color-first;
          color: $color-third;
          display: none;
          padding: 10px 13px;
        }

      }

    }

  }

  button{
    @include button;
  }

}

.prev{
  position: absolute;
  left: -48px;
  bottom: 174px;
  cursor: pointer;
}

.next{
  position: absolute;
  right: -48px;
  bottom: 174px;
  cursor: pointer;
}


/*                                                fourth-section                                        */


.fourth-section{
  text-align: center;
  padding-top: 93px;
  padding-bottom: 91px;

  .fourth-section-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &__element{
      text-align: center;

      h4{
        @include h3Text;
        font-size: 23.88px;
        padding-top: 35px;

        &:before{
          position: absolute;
          right: 39%;
          bottom: -25px;
          content: "";
          width: 85px;
          height: 1px;
          background: $color-second;
        }

      }

      p{
        @include pText;
        max-width: 372px;
        padding-top: 44px;
        padding-bottom: 60px;
      }

      span{
        background: $color-third;
        display: block;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin: 0 auto;
        border: 3px solid $color-first;

        svg{
          padding-top: 29px;
          fill: $color-third;
        }

        &:hover{
          background: $color-first;
          border: 3px solid $color-third;

          svg path{
            fill: $color-third;
            stroke: $color-third;
          }

        }

      }
      &:first-child{

        svg{
        padding-top: 40px;
        }

      }

      &:nth-child(2){

        svg{
          padding-left: 10px;
        }

      }

      &:nth-child(3){

        svg{
          padding-left: 20px;
        }

      }

    }

  }

  button{
    @include button;
  }

}


/*                                              fifth-section                                            */



.fifth-section__map-container {
  position: relative;
  &:hover {

    .fifth-section__map_hover{
      display: none;
    }

  }

  .fifth-section__map_hover{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(42, 155, 216, 0.4);
  }

  .fifth-section__map__text_background{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    border-top: 534px solid $color-third;
    border-left: 98px solid transparent;
    border-right: 572px solid $color-third;
  }

  #map{
    width: 100%;
    height: 534px;
  }

  .fifth-section__map__text{
    text-align: right;
    position: absolute;
    z-index: 3;
    right: 53px;
    top: 24%;

    h3{
      position: relative;
      font-family: $font-family-first;
      color:  $color-first;
      font-size: 34.88px;
      font-weight: 700;
      transform: scaleY(1.0052);
      padding-bottom: 48px;

      &:after{
        position: absolute;
        right: 0;
        bottom: 22px;
        content: "";
        width: 85px;
        height: 1px;
        background: $color-first;
      }

    }

    p{
      font-family:$font-family-second;
      color: $color-first;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      padding-bottom: 28px;
      max-width: 495px;
    }

    button{
      @include button;
      background: $color-first;
      color: $color-third;
    }

  }

}


/*                                                  sixth-section                                         */


.sixth-section{
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 70px;

  .one{
    justify-content: space-between;
    width: 52%;
    padding-right: 97px;
  }

  .two{
    justify-content: space-around;
    width: 57%;
    padding-right: 58px;
  }

  &__group {
    display: flex;

    &__element {

      h4 {
        font-family: $font-family-first;
        color: $color-second;
        font-size: 23.88px;
        font-weight: 700;
        transform: scaleY(1.0052);
        padding-bottom: 23px;
      }

      &:last-child{
        padding-right: 0;
      }

      ul {
        padding: 0;
      }

      li {
        font-family: $font-family-second;
        color: $color-second;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        list-style: none;
        padding-bottom: 10px;

        &:last-child {
          padding-bottom: 0;
        }

        span {
          font-weight: 700;
        }

      }

    }
  }

}

/*                                              footer                                    */


footer{
  background: #2b2b2b;
  padding: 53px 0;

  .footer{
    display: flex;
    justify-content: space-between;

    p{
      font-family: $font-family-first;
      color:  $color-first;
      font-size: 14px;
      font-weight: 400;
    }

  }

}


/*                                                 RESPONSIVE                                           */



@media  (max-width: 1180px) {

  .second-section{
    display: block;
    text-align: center;

    &__text{
      text-align: center;
      margin-bottom: 40px;

      p{
        max-width: 600px;
        margin: 0 auto;
      }

      h3{
        max-width: 115px;
        margin: 0 auto;

        &:before{
        right: 13px;
        }

      }

    }
    &__img{

      img{
        margin: 0 auto;
      }

    }

  }
  .fourth-section{

    .fourth-section-container{
      display: block;
      text-align: center;

      h4{
        max-width: 136px;
        margin: 0 auto;

        &:before{
          right: 25px;
        }

      }

      p{
        margin: 0 auto;
      }

    }

  }

  .sixth-section{
    display: block;

    .one, .two{
     margin: 0 auto;
      padding-right: 0;
      width: 100%;
    }

    .two{
      justify-content: space-between;
      padding-top: 56px;
    }

  }

  .fifth-section{

    .fifth-section__map__text_background{
      display: none;
    }

    .fifth-section__map__text{
      position: relative;
      background: $color-third;
      text-align: center;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 30px 4.2%;

      h3{
        max-width: 185px;
        margin: 0 auto;

        &:after{
          right: 50px;
        }

      }

      p{
        max-width: 600px;
        margin: 0 auto;
      }

    }

  }

  .third-section__slider{
    max-width: 850px;
  }

}

@media  (max-width: 1120px) {

  .third-section__slider {
    max-width: 580px;
  }

}

@media all and (min-width: 1050px){

  .first-section__nav__list {

    ul{
    display: block!important;
    }

  }

}


@media  (max-width: 1050px){

  .first-section__nav__list {

    ul {
      display: none;
      position: absolute;
      z-index: 2;
      top: 83px;
      left: 0;
      text-align: center;
      width: 100%;
      padding: 0;
      background-color: rgba(120, 173, 212, 0.72);
    }

    #top-menu li {
      display: block;
      margin: 15px 0;
      padding: 0;

      a {
        color: white;
        font-size: 16px;
      }

    }

    .menu__button {
      display: inline-block;
    }

  }

  .first-section__text{
    padding-top: 228px;
  }

}



@media  (max-width: 670px){

  .second-section{

    &__img{
      display: none;
    }

  }


  .third-section__slider{
    max-width: 280px;
  }

}

@media all and (max-width: 400px) {
  .first-section__nav__logo{
    p{
      font-size: 22px;
    }
  }
  .first-section__text{
   h2{
     font-size: 34px;
     padding: 0 10px;
   }
  }

  .third-section__slider{
    padding-bottom: 82px;

    .prev{
      bottom: 22px;
      left: 44px;
    }

    .next{
      bottom: 22px;
      right: 44px;
    }
  }



  .sixth-section{
    padding-top: 0;

    .one, .two{
      display: inline-block;
      text-align: center;

      padding-top: 0;
      li{
        text-align: center;

      }
    }

  }

  .sixth-section__group__element{

    padding-top: 40px;
  }

}



