@import "vr";


@mixin button{
  background: $color-third;
  border: none;
  border-radius: 6px;
  font-family: $font-family-first;
  color:  #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.01px;
  text-align: center;
  max-width: 152px;
  padding: 15px 19px;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
  &:hover{
    transform: scale(1.2, 1.2);
    z-index: 2;
  }
}

@mixin h3Text{
  position: relative;
  font-family: $font-family-first;
  color:  $color-third;
  font-size: 34px;
  font-weight: 700;
  transform: scaleY(1.0052);
  line-height: 24px;
}

@mixin pText{
  font-family: $font-family-second;
  color:  $color-second;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}